---

const currentPath = Astro.url.pathname;
---

<header>
	<a href="/" rel="home" class="title" >
		<span aria-label="A Hopeful Nature">A HOPEFUL NATURE</span>
	</a>
</header>
<div class="line"></div>



<style>
	header {
		display: flex;
		justify-content: center;
		margin-inline: auto;
		padding-block: 30px;
		max-inline-size: min(90dvi, 1280px);
	}

	.title {
		color: inherit;
		letter-spacing: 10px;
		font-family: 'EB Garamond', serif;
		font-size: 2.3rem;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		
	&:hover {
		color: #BC680A;

	}
}
	.line {
	width: 100%;
    border-bottom: 1px solid #DDC8B0;
    position: absolute;
	}

</style>
